html, body {
    height: 100%;
    background-color: white;
}

h1,h2,h3,h4,h5 {
    color: rgb(61, 61, 61);
}

hr {
    background-color: white;
}

p {
    color: #D1D1D1;
}

#app {
    background-color: transparent;
}


#chartdiv, #chartdiv1, #chartdiv2 {
  width: 100%;
  height: 300px;
}

#chartdivpie {
  width: 100%;
  height: 350px;
}

.m-portlet .amchart_body {
    padding: 0;
}

.amchart_body h3 {
    padding: 15px 20px 0 20px;
}

.v-data-table-header {
    background-color: #387ec9;
}

.v-data-table-header .text-start{
    color: white !important;
}

.filters select{
    border: 1px solid #afafaf;
    border-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

/* ------------------------- Estilos para la cortina de cargado ------------------------ */
#overlayer {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;  
  z-index: 100;
  /*color: rgb(60, 63, 85);*/
  background: rgba(78, 130, 199, 0.2);
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: fixed;
  z-index: 101;
  margin-top: 20vw;
  margin-left: 49vw;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


@media only screen and (max-width: 400px) {
    .spinner {
        margin-top: 50vw;
        margin-left: 38vw;
    }
}